<div class="row">
  <!-- Sidebar using SimpleGrid classes -->
  <div class="col-12 col-md-3">
    <div class="card sidebar">
      <div class="card-body">
        <h3 class="brand-title">AlegoricSite</h3>
        <p class="brand-tagline">My site</p>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="paper-btn" href="#/posts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="paper-btn btn-secondary" href="https://github.com/alegorico" target="_blank">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Content area using SimpleGrid classes -->
  <div class="col-12 col-md-9 content">
    <div class="card">
      <div class="card-body">
        <h2 class="content-title"><%= data.title %></h2>
        <div class="card-subtitle">
          <% if(data.date) { %>
            <span>📅 <%= data.date %></span>
          <% } %>
          <% if(data.author) { %>
            <span>👤 <%= data.author %></span>
          <% } %>
          <% if(data.tags) { %>
            <% data.tags.forEach(function(tag) { %>
              <% if(tag) { %>
                <a class="badge secondary" href="#/posts?tag=<%= tag %>">#<%= tag %></a>
              <% } %>
            <% }) %>
          <% } %>
        </div>
        <hr />
        <div class="card-text post-body">
          <%= data.body %>
        </div>
        <hr />
        <a class="paper-btn btn-secondary-outline" href="#/posts">Volver a posts</a>
      </div>
    </div>
    
    <div class="footer">
      <ul>
        <li><a href="#/posts">Posts</a></li>
        <li><a href="https://github.com/alegorico" target="_blank">Github</a></li>
      </ul>
    </div>
  </div>
</div>
